body {
    background: #333;
    color: #fff;
}

.navbar {
    border-bottom: #d59823 3px solid;
    opacity: 0.9;
}

#home-section {
    background: url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: rgba(0,0,0,0.7);
}

#home-section .home-inner {
    padding-top: 175px;
}

#home-section .card-form {
    opacity: 0.8;
}

#home-section #signup {
    background: #126ea7;
}

#home-section .fas,
#create-section .fas {
    color: #126ea7;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

#create-head-section {
    background-color: #126ea7;
}

#explore-section .fas,
#share-section .fas {
    background: #d59823;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

#share-head-section {
    background-color: #126ea7;
}

#contact-button {
    background-color: #126ea7;
    color: white;
}

#modal-submit-button {
    background-color: #126ea7;
    color: white;
}

#contactModal .modal-title {
    color: #d59823;
}
